/* Lets add flavour to it. Shall We */

#canvasapp {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#aksara-heading {
  margin: 5px;
}

#generate-aksara {
  margin-right: 10px;
}
#clear-canvas {
  margin-left: 10px;
}
#predict-canvas {
  margin-right: 10px;
  margin-left: 10px;
}

#confidence {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 7.5%;
}

#content {
  margin: 0 auto;
  padding: 2% 15%;
  padding-bottom: 0;
}

#NavBar {
  background-color: #073042;
  color: #40aaad; /*#000 -> black*/
}

#prediction_heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  color: #03161e;
}

#result {
  font-family: "Roboto", sans-serif;
  font-size: 10rem;
}

#source {
  padding: 0 100px;
  text-align: center;
  margin-bottom: 10%;
}

#canvas-box {
  height: 200px;
  width: 200px;
  border: 2px solid #888;
  border-radius: 4px;
}

#title {
  padding-top: 3%;
  padding-right: 7.5%;
  padding-left: 7.5%;
  padding-bottom: 0%;
  margin: 0 auto;
  text-align: center;
  color: #757575;
}

#instruction {
  padding: 3% 15%;
  margin: 0 auto;
  text-align: center;
  color: black;
}

#confidence {
  font-family: OpenSans, Helvetica, Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: none;
  color: #5d656c;
}
#social {
  padding: 0% 9%;
  margin: 0 0;
  text-align: center;
  color: black;
}

#footer {
  padding: 3% 30%;
  margin: 0 0;
  text-align: center;
  color: gray;
}

.predicted_output {
  padding-top: 25px;
}



.sub-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.75px;
  line-height: 60px;
  text-transform: none;
  color: rgb(24, 26, 27);
}

.buttons-wrap {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.credits {
  font-family: OpenSans, Helvetica, Arial;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #3ddc84;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.back-btn {
  width: 120px;
  height: 35px;
}

.button:hover {
  background-color: #34e55e;
  box-shadow: 0px 15px 20px #18692b;
  color: #fff;
  transform: translateY(-7px);
}

.social-media-icons {
  margin: 10px 40px;
}

.heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 80px;
  text-transform: none;
  color: #03161e;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: none;
  color: #6b818c;
}

.leftside {
  text-align: center;
  margin: 0 auto;
  margin-top: 4%;
  /* padding-left: 10%; */
}

.navbar {
  padding: 1% 5%;
}

.navbar-brand {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
}

.nav-item {
  padding: 0 18px;
}

.predicted_answer {
  text-align: center;
  margin: 0 auto;
  padding: 3% 5%;
  padding-top: 0;
  /* padding-left: 10%; */
}

.italise-highlight {
  font-style: italic;
}

.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 3.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3b5998;
}
.google-plus span {
  background-color: #0077b5;
}

.kaggle span {
  background-color: #20beff;
}

.github span {
  background-color: #000000;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3b5998;
}
.icon-button .icon-google-plus {
  color: #0077b5;
}
.icon-button .icon-kaggle {
  color: #20beff;
}

.icon-button .icon-github {
  color: #000000;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .icon-kaggle,
.icon-button:hover .icon-github {
  color: #ffffff;
}

.button:focus {
  outline: none;
}

#Navbar a {
  color: #34e55e;
}

body {
  background: #fbfbff;
  color: black;
}

hr {
  border: 3px solid #34e55e;
  border-bottom: none;
  width: 70%;
  margin: auto;
  margin-bottom: none;
}

@media (min-width: 720px) {
  .leftside {
    padding-left: 10%;
  }
}

/* modal */
/* modal */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::selection {
  color: #fff;
  background: #34e55e;
}
.popup {
  position: absolute;
  left: 50%;
}

.popup {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  top: -150%;
  max-width: 380px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}
.popup.show {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
  z-index: 9999;
}
.popup :is(header, .icons, .field) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}
header span {
  font-size: 21px;
  font-weight: 600;
}
header .close,
.icons a {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
header .close {
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
header .close:hover {
  background: #ebedf9;
}
.popup .content {
  margin: 20px 0;
}
.popup .icons {
  margin: 15px 0 20px 0;
}
.content p {
  font-size: 16px;
}
.content .icons a {
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}
.icons a i {
  transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1) {
  color: #1877f2;
  border-color: #b7d4fb;
}
.icons a:nth-child(1):hover {
  background: #1877f2;
}
.icons a:nth-child(2) {
  color: #46c1f6;
  border-color: #b6e7fc;
}
.icons a:nth-child(2):hover {
  background: #46c1f6;
}
.icons a:nth-child(3) {
  color: #e1306c;
  border-color: #f5bccf;
}
.icons a:nth-child(3):hover {
  background: #e1306c;
}
.icons a:nth-child(4) {
  color: #25d366;
  border-color: #bef4d2;
}
.icons a:nth-child(4):hover {
  background: #25d366;
}
.icons a:nth-child(5) {
  color: #0088cc;
  border-color: #b3e6ff;
}
.icons a:nth-child(5):hover {
  background: #0088cc;
}
.icons a:hover {
  color: #fff;
  border-color: transparent;
}
.icons a:hover i {
  transform: scale(1.2);
}
.content .field {
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}
